In [ ]:
import pandas as pd
import seaborn as sbs
import matplotlib.pyplot as plt

In [ ]:
df_colesterol = pd.read_csv('./datasets/colesterol.csv')

In [ ]:
# drop column id

df_colesterol.drop('Id', axis=1, inplace=True)

In [ ]:
df_colesterol.columns = ['grupo_sanguineo', 'fumante', 'nivel_atividade_fisica', 'idade', 'peso', 'altura', 'nivel_colesterol']

df_colesterol.head()

In [22]:
df_colesterol_eda = df_colesterol.copy()
df_colesterol_bucketing = df_colesterol.copy()

### EDA

In [20]:
# Detecting absent values

df_colesterol_eda.isna().sum()

grupo_sanguineo           4
fumante                   3
nivel_atividade_fisica    4
idade                     3
peso                      3
altura                    3
nivel_colesterol          0
dtype: int64

In [21]:
df_colesterol_eda.describe()

            idade        peso      altura  nivel_colesterol
count  997.000000  997.000000  997.000000       1000.000000
mean    49.206620   76.496690  174.889669        199.453260
std     17.476704   21.439132    8.844703         50.625152
min     20.000000   15.400000  160.000000         36.260000
25%     34.000000   61.700000  167.000000        166.345000
50%     49.000000   75.500000  175.000000        199.455000
75%     65.000000   90.200000  183.000000        233.785000
max     79.000000  158.100000  190.000000        372.670000

In [23]:
# Getting mode of categorical variables

# creating a dictionary

grupo_sanguineo_mode = df_colesterol['grupo_sanguineo'].mode()[0]
fumante_mode = df_colesterol['fumante'].mode()[0]
nivel_atividade_fisica_mode = df_colesterol['nivel_atividade_fisica'].mode()[0]

# Changing null values 

df_colesterol_eda.fillna(columns= {'grupo_sanguineo'} ,grupo_sanguineo_mode, inplace=True)
df_colesterol_eda['fumante'].fillna(fumante_mode, inplace=True)
df_colesterol_eda['nivel_atividade_fisica'].fillna(nivel_atividade_fisica_mode, inplace=True)
df_colesterol_eda.isna().sum()

C:\Users\danie\AppData\Local\Temp\ipykernel_15860\2634324096.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_colesterol_eda['grupo_sanguineo'].fillna(grupo_sanguineo_mode, inplace=True)
C:\Users\danie\AppData\Local\Temp\ipykernel_15860\2634324096.py:12: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_colesterol_eda['fumante'].fillna(fumante_mode, inplace=True)
C:\Users\danie\AppData\Local\Temp\ipykernel_15860\2634324096.py:13: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df_colesterol_eda['nivel_atividade_fisica'].fillna(nivel_atividade_fisica_mode, inplace=True)

grupo_sanguineo           0
fumante                   0
nivel_atividade_fisica    0
idade                     3
peso                      3
altura                    3
nivel_colesterol          0
dtype: int64